<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsmy.app.mapper.teamMapper">
  <resultMap id="BaseResultMap" type="com.hsmy.app.bean.team">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="team_desc" jdbcType="VARCHAR" property="teamDesc" />
    <result column="token" jdbcType="VARCHAR" property="token" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hsmy.app.bean.team">
    <result column="id" jdbcType="LONGVARCHAR" property="id" />
  </resultMap>
  <sql id="Blob_Column_List">
    id
  </sql>
  <insert id="insert" parameterType="com.hsmy.app.bean.team">
    insert into team (name, team_desc, token, 
      id)
    values (#{name,jdbcType=VARCHAR}, #{teamDesc,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, 
      #{id,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hsmy.app.bean.team">
    insert into team
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="teamDesc != null">
        team_desc,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="id != null">
        id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="teamDesc != null">
        #{teamDesc,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>